/* HOME MENU PRINCIPAL */
.home-menu {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.menu-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: #000;
}

.menu-subtitle {
  font-size: 0.95rem;
  color: #444;
  margin-bottom: 2rem;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

/* SEARCH BAR */
.search-form {
  display: flex;
  justify-content: center;
}

.search-box {
  padding: 0.75rem 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  font-size: 0.95rem;
  width: 100%;
  max-width: 320px;
}
