/* Termos e Condições */

.termos-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #000;
  
}

.termos-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
}

.termos-intro {
  font-size: 0.95rem;
  color: #222;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.termos-bloco {
  max-width: 800px;
  margin: 0 auto 2rem auto;
}

.termos-bloco h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #000;
}

.termos-bloco p {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}