<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Check&Go - Como Funciona</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/home.css" />
</head>
<body>

  <header>
    <div class="container-banner">
      <div class="logo">
        <img src="/imagens/Check_Go__4_-removebg-preview.png" alt="Logo Check&Go" />
      </div>
      <div class="nav-links">
        <a href="/views/home.html">Home</a> |
        <a href="/views/autenticacao/login.html">Colaboradores</a>
      </div>
    </div>
  </header>

 <main class="container home-menu">

  <h2 class="menu-title">Evita filas. Chega e é só ser atendido.</h2>
  <p class="menu-subtitle">
    Tira a tua senha digital e acompanha o tempo de espera em tempo real.
  </p>

  <form class="search-form">
    <input
      type="search"
      placeholder="🔍 Encontrar Loja"
      aria-label="Pesquisar loja"
      class="search-box"
    />
  </form>

  <div id="resultados-lojas"></div>

</main>


  <footer>
  <div class="container footer-content">
    <div class="footer-brand">
      <img src="/imagens/ticket_black_green.png" alt="Ícone Check&Go">
      <span><strong>Check&Go</strong></span>
    </div>

    <div class="footer-links">
      <a href="/views/comoFunciona.html">Como Funciona?</a>
      <a href="/views/termosCondicao.html">Termos e Condições</a>
      <a href="#">Suporte</a>
    </div>

    <small>© 2025 Check&Go. Todos os direitos reservados.</small>
  </div>
</footer>

<script type="module" src="/js/loja/pesquisarLoja.js"></script>
</body>
</html>
