/* ESPECÍFICO PARA A SECÇÃO DE CARDS */
.cards-section {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 1.5rem;
  flex: 1;
  min-width: 200px;
}

.card:hover {
	transform: translateY(-5px);
}

.card p {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.4rem;
}

.card h2 {
  font-size: 1.8rem;
  color: #000;
}

.card-colabs {
	background-color: #e9f5ff;
}

.card-lojas {
	background-color: #fff2f7;
}

.card-servicos {
	background-color: #e8fff0;
}