<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Check&Go</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/colaborador.css" />
</head>
<body>
    <header>
        <div class="container-banner">
          <div class="logo">
            <img src="/imagens/Check_Go__4_-removebg-preview.png" alt="Logo Check&Go" />
          </div>
          <div class="nav-links">
            <a href="/views/home.html">Home</a> |
            <a href="/views/autenticacao/login.html">Colaboradores</a>
          </div>
        </div>
      </header>

<main class="custom-scope">
  <h2 class="page-title"></h2>
  <div class="servico-list">
    <!-- Botões atuais usando <a href>, já com query string para simular navegação -->
    <a href="retirarSenha.html" class="servico-btn"></a>
    <a href="retirarSenha.html" class="servico-btn"></a>
    <a href="retirarSenha.html" class="servico-btn"></a>


  </div>
</main>


<script src="/js/senhas/escolherServico.js"></script>


</body>
</html>
