<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Check&Go - Retirar Senha</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/retirarSenha.css" />
</head>
<body>

  <header>
    <div class="container-banner">
      <div class="logo">
        <img src="/imagens/Check_Go__4_-removebg-preview.png" alt="Logo Check&Go" />
      </div>
      <div class="nav-links">
        <a href="/views/home.html">Home</a>
      </div>
    </div>
  </header>

  <main class="container">
    <div class="card-senha">

      <!-- ESTADO INICIAL (VISÍVEL) -->
      <div id="estado-inicial" class="estado ativo">
        <h3 class="section-title">Senha Atual:</h3>
        <div class="senha" id="senha-atual">
          <div class="digit">-</div>
          <div class="digit">-</div>
          <div class="digit">-</div>
          <div class="digit">-</div>
        </div>

        <h3 class="section-title">Fila De Espera</h3>
        
        <div id="contador-fila-inicial" style="color: white; text-align: center; font-size: 1.2rem; margin-bottom: 15px;">--</div>
        
        <button class="senha-btn" onclick="mostrarEstadoRetirado()">Retirar Senha</button>
      </div>

      <!-- ESTADO RETIRADO (ESCONDIDO À PARTIDA) -->
      <div id="estado-retirado" class="estado" style="display: none;">
        <h3 class="section-title">Senha Atual:</h3>
        <div class="senha">
          <div class="digit">A</div>
          <div class="digit">0</div>
          <div class="digit">7</div>
          <div class="digit">8</div>
        </div>

        <h3 class="section-title">Minha Senha:</h3>
        <div class="senha" id="senha-user">
          <div class="digit">A</div>
          <div class="digit">0</div>
          <div class="digit">9</div>
          <div class="digit">2</div>
        </div>

        <h3 class="section-title">Tempo estimado:</h3>
        <button class="tempo-btn">3min</button>

        <button class="cancel-btn" onclick="voltarParaEstadoInicial()">Cancelar Senha</button>
      </div>

      <div id="estado-concluido" style="display:none;" class="card senha-card">
        <h2 class="titulo-final">Atendimento concluído</h2>
        <p class="texto-final">
          Foste atendido! Obrigado por usar o <strong>Check&Go</strong>.
        </p>

        <div class="grid">
          <button id="btn-voltar-loja" class="secondary outline">
            Outro Serviço
          </button>

          <button id="btn-ir-home" class="primary">
            Sair (Home)
          </button>
      </div>

    </div>
  </main>

  <script src="/js/senhas/retirarSenha.js"></script>
</body>
</html>
