<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Logout - Check&Go</title>
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
</head>
<body>
    <header>
      <div class="container-banner">
        <div class="logo">
          <img src="/imagens/Check_Go__4_-removebg-preview.png" alt="Logo Check&Go" />
        </div>
      </div>
    </header>

  <main class="container" style="text-align:center; padding:50px;">
    <h2>A terminar sessão...</h2>
    <p>Um segundo.</p>
  </main>

  <script type="module" src="/js/autenticacao/logout.js"></script>
</body>
</html>
