<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check&Go - Fila</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/menuTrabalhador.css" />

  <script type="module">
  import { requireAuth } from "/js/autenticacao/auth.js";
  requireAuth(["Colaborador"]);
  </script>

</head>
<body>

  <header>
    <div class="container-banner">
      <div class="logo">
        <img src="/imagens/Check_Go__4_-removebg-preview.png" alt="Logo Check&Go" />
      </div>
      <div class="nav-links">
        <a href="/views/home.html">Home</a> |
        <a href="/views/autenticacao/login.html">Colaboradores</a>
      </div>
    </div>
  </header>

      <!-- Corpo principal -->
  <div class="main-container">
  <div class="main">
    <div class="title" id="loja-nome-1"></div>
    <div class="title" id="loja-nome-2"></div>
    <div class="subtitle" id="servico-nome"></div>


    <div class="ticket-icon">
      <img src="/imagens/ticket_black_transparent.png" alt="Ticket" />
    </div>

    <div class="password-label">Senha Atual:</div>
    <div class="password" id="senha-container">
      <!-- JS mete os digits -->
    </div>

    <div class="subtitle" id="contador-espera">Senhas em espera: 0</div>

    <button id="btn-concluir-atual" class="btn-concluir">Concluir atendimento</button>
    <button class="btn-next">Chamar o próximo</button>
  </div>
</div>

<script src="/js/colaborador/menuTrabalhador.js"></script>


</body>
</html>